.charcontainer{
    display: grid;
    grid-template-columns: 155px 155px 155px;
    overflow-y: scroll;
    height:500px;
    margin-bottom: 30px;
    margin-right: 50px;
}

.enemycontainer{
    display: grid;
    grid-template-columns: 155px 155px 155px;
    overflow-y: scroll;
    height:200px;
    margin-bottom: 30px;
    margin-right: 50px;
}


.container{
    vertical-align: top;
    /* justify-content: space-evenly; */
}
