.gridcontainer{
    display: grid;
    grid-template-columns: 155px 155px 155px 155px 155px 155px 155px 155px 155px 155px;
}

.flexcontainer{
    display: flex;
    /* justify-content: space-evenly; */
}
