.card {
    background-color: rgb(241, 241, 241);
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    height: 100px; 
    width: 152px;
    overflow: hidden;
    margin-top: 5px;
    margin-bottom: 5px;
  }
.card img {
    width: 100%;
    margin: 0;
    transform: translateY(-10%)
  }
.values {
    font-size: 14px;
    margin-top: 2px;
    color: rgb(27, 27, 27);
    font-family: 'Lucida Sans'
}
.container {
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  justify-content: left;
}

.valcontainer{
  display: block;
  text-align: center;
  background-color: rgb(241, 241, 241);
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  height: 40px; 
  width: 80px;
  overflow: hidden;
  margin-left: 5px;
  margin-bottom: 50px;
}