input {
    margin-right: 5px;
    border: 1.5px solid rgb(27, 27, 27);
    border-radius: 10px;  
    color: rgb(27, 27, 27);
}

input:hover {
    background-color: #e6e6e6;
}

button {
    margin-left: 5px;
    border: 1.5px solid rgb(27, 27, 27);
    border-radius: 10px;  
}

button:hover {
    background-color: #e6e6e6;
}

.container{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color:rgb(27, 27, 27);
}

.parameters{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(241, 241, 241);
}