input {
    margin-right: 5px;
    border: 1.5px solid rgb(27, 27, 27);
    border-radius: 10px;  
}

input:hover {
    background-color: #e6e6e6;
}

button {
    margin-left: 5px;
    border: 1.5px solid rgb(27, 27, 27);
    border-radius: 10px;  
}

button:hover {
    background-color: #e6e6e6;
}
